* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .centeredPage {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Reset margin */
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .left-panel {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    flex: 1;
  }
  
  .welcome-text h2 {
    color: #f9b234;
  }
  
  .logo-container {
    text-align: center;
  }
  
  .logo {
    padding-top: 60px;
    width: 40px; /* Reduced size of the logo */
    height: auto;
  }
  
  .welcome-text h1 {
    color: #000000;
  }
  
  .avatar {
    margin: 10px 0;
    width: 120px;
    transform: scale(1.8);
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  .right-panel {
    background-color: #333333;
    padding: 40px;
    color: #ffffff;
    flex: 1;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .forgot-password {
    color: #f9b234;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-btn {
    width: 30%;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #f9b234;
    border: none;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #e1a72c;
  }
  
  .signup {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup a {
    color: #f9b234;
    text-decoration: none;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }
  